*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.main-index{
    height: 4367px;
    background: #f9f8f8;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-contact{
    height: 1765px;
    background: #f9f8f8;
    background-image: url('../images/contact-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.service-main{
    height: 2007px;
    background: #f9f8f8;
    background-image: url('../images/contact-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

// main{
//     height: 100%;
//     background: #f9f8f8;
//     background-image: url('../images/contact-background.png');
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.main-faq{
    height: 1890px;
    background: #f9f8f8;
    background-image: url('../images/contact-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: 'Futura PT';
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.title{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
