.btn{
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    border-radius: 3px;
    padding: 15px 30px;
    display: inline-block;
}
.btn:hover{
    background: #000000;
}