.section-first {
    background-image: url('../images/green-parrot.png');
    background-repeat: no-repeat;
    background-size: 460px 435px;
    background-position: top 35% right;
    padding-bottom: 165px;

    & .container {
        padding-left: 120px;
    }

    &__wrapper {
        padding-top: 118px;
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 64px;
        color: #333333;
        margin-bottom: 21px;
        margin-top: 0;
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #949494;
        width: 447px;
    }
}